@{
    ViewBag.Title = "Home Page";
}

<body>

    <img src="https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/fc/3028471-poster-p-war-room.gif" style="width: 150%" class="img-responsive">
    <div class="container">
        <div class="carousel-caption">
            <h1 style="color: blue">Changes to the Grid</h1>
            <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
    </div>
</body>