<body>
    <div>
        <img style="opacity: 0.7" src="/Resources/vid.gif" class="img-responsive">
        <div class="container">
            <div class="carousel-caption">
                <h1>FIND YOUR DREAM PLACE</h1>
                <p>
                    @Html.ActionLink(
                             linkText: "Еxplore",
                             actionName: "Index",
                             controllerName: "Company",
                        routeValues: null, 
                          htmlAttributes: new { @class = "btn btn-success btn-lg" })
                </p>
            </div>
        </div>
    </div>
</body>