@model System.Collections.Generic.IEnumerable<GetHired.DTO.JobOfferModel>


@*working on json loader*@

@using (Html.BeginForm("LoadFromJson", "JobOffer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <p class="col-md-4">
        @Html.ActionLink("Export PDF with job offers", "DownloadPDF", Model, new { @class = "btn btn-success" })
    </p>
    <p class="col-md-4">
        <input class="btn btn-success" type="file" name="jsonFile" />
    </p>
    <p class="col-md-4">
        <input class="btn btn-success col-md-8" type="submit" value="LoadFromJson" method="post" />
    </p>
</div>
}

@Html.Partial("_JobOffersPartial", Model)
